body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
span{
    color: orange;
}
.top-bannar{
    display: flex;
    background-image: url(../images/top-banner.png);
    background-repeat: no-repeat;
}
.half{
    width: 50%;
    padding: 2%;
}
.half img{
    width: 80%;

}
.btn-hire{
    text-decoration: none;
    background-image:linear-gradient(orange, tomato) ;
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
}
.dream-big{
    display: flex;
    margin-top: 100px;
    background-image: url(../images/dream-bg.png);
    background-repeat: no-repeat;
    background-position:right;
    padding-right: 100px;
}