body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
span{
    color: orange;
}
.top-bannar{
    display: flex;
    background-image: url(../images/top-banner.png);
    background-repeat: no-repeat;
}
.half{
    width: 50%;
    text-align: justify;
    padding: 2%;
}
.half img{
    width: 80%;

}
.btn-hire{
    text-decoration: none;
    background-image:linear-gradient(orange, tomato) ;
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
}
.dream-big{
    display: flex;
    margin-top: 100px;
    background-image: url(../images/dream-bg.png);
    background-repeat: no-repeat;
    background-position:right;
    padding-right: 100px;
}
.expriences{
    display: flex;
    background-image: url(../images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    margin-bottom: 15%;
}
.expriences-item{
    width: 46%;
    text-align: justify;
    margin-right: 2%;
    margin-left: 2%;
    padding: 5px 20px 100px 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 40px gray;
}
#uniq-color-1{
    border-image: linear-gradient(blue,cyan) 1;
    border-left: 5px solid ;
    border-radius: 10px;
}
#uniq-color-2{
    border-image: linear-gradient(red,green) 33;
    border-left: 5px solid ;
    border-radius: 10px;
}
footer p{
    text-align: center;
    color: gray;
}